a {
  text-decoration: inherit;
  color: #FFFFFF;
  background-color: #E9908C;
  padding: 16px;
  border-radius: 4px;
}

a:hover {
  color: #E9908C;
  outline: .5px solid #E9908C;
  background-color: #FFFFFF;
}